ProyectoFinalSegundoAño/SitioWeb/App_WebReferences/ServicioFinal/ServicioProyectoFinal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:24939/ServicioProyectoFinal.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" />
  <xs:element name="AltaBanco">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="pBanco" nillable="true" type="q1:Banco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaBancoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaBanco">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="pBanco" nillable="true" type="q2:Banco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaBancoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarBanco">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="pBanco" nillable="true" type="q3:Banco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarBancoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarBanco">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pRut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarBancoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="BuscarBancoResult" nillable="true" type="q4:Banco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarBancos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarBancosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="ListarBancosResult" nillable="true" type="q5:ArrayOfBanco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogueoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pNombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pContrasenia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogueoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="LogueoUsuarioResult" nillable="true" type="q6:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pDocumento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="BuscarUsuarioResult" nillable="true" type="q7:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="pUsuario" nillable="true" type="q8:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="pUsuario" nillable="true" type="q9:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="pUsuario" nillable="true" type="q10:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaUsuarioLogueoYBD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="pUsuario" nillable="true" type="q11:Usuario" />
        <xs:element minOccurs="0" name="pRol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pPermiso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaUsuarioLogueoYBDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAdministradores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAdministradoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="ListarAdministradoresResult" nillable="true" type="q12:ArrayOfAdministrador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarJugadasDeJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="pJugador" nillable="true" type="q13:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarJugadasDeJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="ListarJugadasDeJugadorResult" nillable="true" type="q14:ArrayOfJugada" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarJugada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="jugada" nillable="true" type="q15:Jugada" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarJugadaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarJugada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="jugador" nillable="true" type="q16:Jugador" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarJugadaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="BuscarJugadaResult" nillable="true" type="q17:Jugada" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarJugadasPremiadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="jugador" nillable="true" type="q18:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarJugadasPremiadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarJugadasPremiadasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarJugadasPremiadasPorSorteo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="sorteo" nillable="true" type="q19:Sorteo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarJugadasPremiadasPorSorteoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="ListarJugadasPremiadasPorSorteoResult" nillable="true" type="q20:ArrayOfJugada" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarSorteo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="sorteo" nillable="true" type="q21:Sorteo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarSorteoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RealizarSorteo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="sorteo" nillable="true" type="q22:Sorteo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RealizarSorteoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarSorteo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pFechaHora" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarSorteoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="BuscarSorteoResult" nillable="true" type="q23:Sorteo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSorteosDisponibles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSorteosDisponiblesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="ListarSorteosDisponiblesResult" nillable="true" type="q24:ArrayOfSorteo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSorteosDisponiblesJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="jugador" nillable="true" type="q25:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSorteosDisponiblesJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="ListarSorteosDisponiblesJugadorResult" nillable="true" type="q26:ArrayOfSorteo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>